[importlinter]
root_package  = analysis_service

[importlinter:contract:analysis-layer]
name = Early stages cannot import from later stages
type = layers
layers =
    analysis_service.api
    analysis_service.evaluation
    analysis_service.detection
    analysis_service.irt
    analysis_service.core