[importlinter]
root_package = src.analysis_service

[importlinter:contract:synthetic-data-protected]
name = Synthetic data module cannot be imported
type = protected
protected_modules =
    synthetic_data
allowed_importers = 